<aside class="sidebar shadow-sm">

    <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
        <div class="picture-wrapper mb-4">
            <div class="user-picture m-auto">
                <img src="./assets/images/sys/user.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="profile-details text-center pb-4">
            <p class="mb-0 text-uppercase name">User</p>
            <small class="text-uppercase role">Administrator</small>
        </div>
    </div>
    <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
        <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
    </div>
    <nav class="sidebar-menu pt-3 pb-3">
        <div class="menu-header mt-3 mb-2">
            Feature
        </div>
        <ul class="menu-items">
            <li >
                <a routerLink="/log/logs" routerLinkActive="active">
                    <i class="far fa-edit"></i>

                    <span>Logs</span>
<!--                    <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span>-->
                </a>
            </li>
            <li>
                <a routerLink="/log/logs-visualization" routerLinkActive="active">
                    <i class="far fa-chart-bar"></i>
                    <span>Log Visualization</span>
                </a>
            </li>
        </ul>
        <div class="menu-header mt-4 mb-4">
            Other
        </div>
        <ul class="menu-items">
            <li >
                <a routerLink="/profile/detail" routerLinkActive="active">
                    <i class="far fa-address-card"></i>
                    <span>Profile</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
